@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
body,html {
    height: 100%;
}

#one{
    height: 100vh;
    padding: 50px 30px;
}

.landingrow{
    height: 100%;
    width: 100%;
}

#onestop {
    font-size: 3.7vw;
}

#india {
    font-size: 3.7vw;
}

@media screen and (max-width:800px) {
    .subheading div:first-child{
        text-align: center;
        font-size: 0.8em;
    }

    #onestop{
        font-size: 0.8em;
    }

    #india {
        text-align: center;
        font-size: 0.8em;
    }
}


#getstarted{
    border:none;
    background-color: #FAB400;
    padding: 12px 20px;
    border-radius: 26px;
}

.text-row {
    text-align: center;
    h1{
        font-size: 3.3vw;
    }
}

#two {
    padding: 50px 30px;
    min-height: 100vh;

    .cards {
        position: relative;
        height: 70vh;
        margin-top: 50px;
    }
}

#three {
    background-color: red;
    padding: 50px 30px;
    .year{
        color: #444;
        font-size: 3em;
        transition: 0.1s all ease-in-out;
    }
    .current{
        color: #444;
        font-size: 3em;
        transition: 0.1s all ease-in-out;
    }
}
@media screen and (max-width:800px) {
    .year {
        color: #444;
        font-size: 1em;
    }

    .current {
        color: #444;
        font-size: 1em;
    }

    .subtext {
        color: white;
        font-size: 1em;
        font-weight: 200;
    }
}

#four {
    height: 100vh;
    padding: 50px 30px;
}

#five {
    height: 100vh;
    padding: 50px 60px;

    #ending-left{
        position: relative;
        background-color: red;

        #easygoldby{
            position: absolute;
            top: 0;
            left: 0;
        }
        
    }

    .appstore-card{
        width: 180px;
        height: 65px;
        background-color: white;
        border-radius: 10px;
        margin: 10px;
    }

    .appstore-card-text{
        margin-left: 5px;
        p{
            font-size: 15px;
            margin: 0;
        }
        h2{
            font-size: 15px;
            color: black;
            margin: 0;
        }
    }

    .socials-landing{
        margin-top: 50px;
    }
    .social-icons-landing{
        margin: 2.5px;
        padding: 5px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        border: 1px solid white;
    }
}

@media screen and (max-width:800px) {
    #five{
        padding:50px 10px;
    }
    
}