

.item-border-top-bottom {
  border-bottom: 1px solid #ffffff;
  padding: 15px;
}
.quantity-controls {
    display: flex;
    justify-content: space-between;
    /* padding: 10px auto   ; */
    margin-right: 40px;
    border-radius: 10%;
    width: 80px;
    height:40px;
}

.size-control {
  width: 220px;
  margin-top: 10px;
}

.size-control1 {
  width: 490px;
}

@media (max-width: 768px) {
  .size-control {
    width: calc(220px * 0.7); /* 30% smaller */
  }

  .size-control1 {
    width: calc(490px * 0.7); /* 30% smaller */
  }
}
.update-btn button{
    margin-top: 55px; 
    margin-left: 100px;
}

.cart-items {
  max-height: 300px; /* Set max-height to prevent overflow */
  overflow-y: auto;  /* Enable vertical scrolling */
}

/* .item-border-top-bottom {
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  padding: 10px 0;
} */
/* cart.css */

.quantity-controls {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100px; /* Adjust based on your design */
}

.quantity-controls button {
  width: 40px;
  height: 40px;
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  border: 1px solid white;
}

.quantity-controls p {
  margin: 0;
  font-size: 16px;
  text-align: center;
  width: 40px; /* Match the button width */
}
