*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#main{
    background-color: rgba(0,0,0,0.75);
    min-height: 200vh;
}
.backdrop{
    width: 100%;
    height: 200vh;
    background-color: rgba(0,0,0,0.3);
    backdrop-filter: blur(150px);
}

.black{
    height: 120vh;
    width: 100%;
    border-radius: 25%;
    background-color: black;
    z-index: -2;
    position: absolute;
    top: 0;
}

.pink{
    background-color: #F8A6F0;
    position: absolute;
    top: 45%;
    height: 60vh;
    width: 35%;
    right: 0;
    border-top-left-radius: 50%;
    border-bottom-left-radius: 50%;
    z-index: -1;
}

.blue{
    background-color: #51B4FA;
    position: absolute;
    top: 30%;
    height: 60vh;
    width: 35%;
    left: 0;
    border-top-right-radius: 50%;
    border-bottom-right-radius: 50%;
    z-index: -1;
}

.green{
    background-color: rgba(248, 217, 151, 0.5);
    position: absolute;
    top: 110%;
    height: 40vh;
    width: 30%;
    right:10%;
    border-radius: 40%;
    z-index: -1;
}